/* assigns text color #3D3D3D to body and
p, background color #6D6D6D to body and h2 */

$text-color: #3D3D3D;
$bg-color: #6D6D6D;

body {
    color: $text-color;
    background-color: $bg-color;
}

p {
    color: $text-color;
}

h2 {
    background-color: $bg-color;
}
